/*media*/
@media(min-width: 767px) {
* {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.body-bg1, .body-bg{
	background:none;
}
#iframe-wrap {
    height: 100%;
    overflow: visible;
    position: relative;

    z-index: 999;
}
.mobile-width-2 {
    height: 540px!important;
    margin: 0 auto;
   padding: 81px 25px 159px 17px;
    width: 346px;
    margin-top: 40px;
    background: url(../images/bgiphone3.png) no-repeat;
}
#iframe {
    height: 614px!important;
    width:100%;
    overflow:auto;
    background: #FFFFFF;
}
#iframe1 {
    height: 585px!important;
    width:100%;
    overflow:auto;
    background: url(../images/bg.jpg) no-repeat;
    background-size: 100% 100%;
}
.body-bg-1{
	width: 300px;
	height: 300px;
}
.dangjian_article-list{
	width: auto;
}
.dangjian_index-bode-g ul li h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.dangjian_weiyuanlist ul li img{
	width: 95px;
}
.dangjian_index-bode-e{
	margin: 0;
}
.dangjian_article-2{
	     padding-left: 0; 
    padding-right: 0; 
}
.dangjian_top-two p{
	font-size: 14px;
}
.dangjian_top-two i{
	margin-left: 5px;
}
html, body.body-bg{
	background: none;
	
}
body{
	background: url(../images/beijing2.jpg) no-repeat;
	z-index: -1;
	background-size: 100% 120%;
}
.nav-top{
	display: none;
	z-index: 2000;
	position: relative;
	width: 80px;
	background: #E60012;
	color: #FFFFFF;
	top: 0px;
	right:-231px;
    padding: 0;
}
.guaikuang-list{
	    width: 92%;
}
.zhineng-list{
	width: auto;
	margin: 0 5px;
	padding-left: 5px; 
    padding-right: 5px; 
}
.gongkai1-list p.topp {
    font-size: 12px;
}
.peolist td {

    font-size: 10px;
   
}
}
