html,
body,
header,
section,
footer,
div,
ul,
ol,
li,
img,
a,
span,
em,
del,
legend,
center,
strong,
var,
fieldset,
form,
dl,
dt,
dd,
cite,
input,
hr,
time,
mark,
code,
figcaption,
figure,
textarea,
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	border: 0;
	padding: 0;
	font-style: normal;
}

a {
	text-decoration: none;
	border: none;
	color: #272727;
	-webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}

ul li {
	list-style: none;
}

img {
	border-image: none;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

body,
html {
	background: #FFFFFF;
	font-family: "Microsoft YaHei";
	font-size: 14px;
}

.clear {
	clear: both;
}

.s10 {
	font-size: 10px;
}

.s11 {
	font-size: 11px;
}

.s12 {
	font-size: 12px;
}

.s13 {
	font-size: 13px;
}

.s14 {
	font-size: 14px;
}

.s15 {
	font-size: 15px;
}

.s16 {
	font-size: 16px;
}

.s17 {
	font-size: 17px;
}

.s18 {
	font-size: 18px;
}

.s20 {
	font-size: 20px;
}

.s22 {
	font-size: 22px;
}

.s24 {
	font-size: 24px;
}

.s26 {
	font-size: 26px;
}

.s30 {
	font-size: 30px;
}

.s36 {
	font-size: 36px;
}

.s40 {
	font-size: 40px;
}

.c1 {
	color: #FFFFFF;
}

.c2 {
	color: #272727;
}

.c3 {
	color: #999999;
}

.c4 {
	color: #666666;
}

.c5 {
	color: #89632b;
}

.c6 {
	color: #F69540;
}

/*橙*/

.c7 {
	color: #45c08f;
}

/*绿*/

.c8 {
	color: #E50012;
}

/*红*/

.c9 {
	color: #CCCCCC;
}

/*灰*/

.c10 {
	color: #616161;
}

.c11 {
	color: #5B5B5B;
}

.c12 {
	color: #919191;
}

.c13 {
	color: #CD3C3C;
}

.c14 {
	color: #D4D4D4;
}

.c15 {
	color: #666666;
}

.c16 {
	color: #F92826;
}

.c17 {
	color: #949494;
}

.c18 {
	color: #24D523;
}

.wd {
	width: 94%;
	margin: 0 3%;
	overflow: hidden;
}

.wb20 {
	width: 20%;
}

.wb30 {
	width: 30%;
}

.wb50 {
	width: 50%;
}

.wb70 {
	width: 70%;
}

.wb80 {
	width: 80%;
}

.h10 {
	height: 10px;
}

.h15 {
	height: 15px;
}

.h20 {
	height: 20px;
}

.h30 {
	height: 30px;
}

.h45 {
	height: 45px;
}
.h50 {
	height: 50px;
}
.h60 {
	height: 60px;
}

.h90 {
	height: 90px;
}
.h120 {
	height: 120px;
}
:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: #CCC;
}

::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: #CCC;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #CCC;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #CCC;
}
.hidden-text2{
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}